@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.button{
  padding:25px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius:9px;
  cursor:pointer;
  background:yellow;
  border-color:green;
  color:darkmagenta;
  font-size:25px;
}
.row{
  margin: 8px 0;
}
.row input{
  font-size:23px;
  margin:0;
  padding:10px 0px;
  border:2px solid black;
  border-radius:5px;
  color:blue;
}